.shop-category {
    padding: 20px;
    background-color: #f9f9f9; 
  }
  
  .shopcategory-banner {
    width: 100%;
    height: auto; 
    border-radius: 8px; 
  }
  
  .shopcategory-indexsort {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center; 
    margin: 20px 0;
  }
  
  .shopcategory-indexsort p {
    font-size: 16px;
    color: #333; 
  }
  
  .shopcategory-sort {
    display: flex;
    align-items: center;
    cursor: pointer; }
  
  .shopcategory-sort img {
    margin-left: 5px;
  }
  
  .shopcategory-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 25px; 
  }
  .explore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 230px;
    height: 65px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 20px;
    font-weight: 500;
  }
  .kids{
    width: 500px;
    margin: 50px;
    margin-left: 100px;    
  }
  
 